<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="container mt-5 ">
			<table class="table mt-5 " sec:authorize="hasAnyAuthority('ADMIN')">
				<thead>
					<tr>
						<th>Date debut</th>
						<th>Date fine</th>
						<th>heure depart</th>
						<th>heure arivee</th>
						<th>ville departe</th>
						<th>ville arivee</th>
						<th>Nombres Clients</th>
						<th>Action</th>
					</tr>
				</thead>


				<tbody>
					<tr th:each="d : ${demandesNavetts}">
						<td th:text="${d.date_debut}"></td>
						<td th:text="${d.date_fin}"></td>
						<td th:text="${d.h_dep}"></td>
						<td th:text="${d.h_ar}"></td>
						<td th:text="${d.v_dep}"></td>
						<td th:text="${d.v_ar}"></td>
						<td th:text="${d.nbcl}"></td>
						
						<td>						
						<a th:href="@{/postDemande(demande  = ${d})}"><button class="btn btn-outline-primary" type="submit">Ajouter</button></a></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</body>
</html>